<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
    <title>HTMLTABLE</title>
</head>
<body>
    <div class="container">
        <h1>HTML TABLE</h1>
        <h3>Address http://localhost:5000/list displays table</h3>
        <table class="table">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name </th>
                <th scope="col">Full Name</th>
            </tr>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user['first_name']}}</td>
                    <td>{{user['last_name']}}</td>
                    <td>{{user['first_name'] + user['last_name']}}</td>
                </tr>
                {% endfor %}
            </tbody>     
        </table>
    </div>
</body>
</html>