* {
    margin: 0;
    padding: 0;
}

td{
    height: 75px;
    width: 75px;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h1{
    margin:20px;
}