<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Add a New User</h1>
        <form action="/process_user" method="POST">
            <div>
                <label for="">First Name:</label>
                <input type="text" name="f_name">
            </div>
            <div>
                <label for="">Last Name:</label>
                <input type="text" name="l_name">
            </div>
            <div>
                <label for="">First Name:</label>
                <input type="email" name="email">
            </div>
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>